<section class="season">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Administrar Temporadas</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-custom">
                    <div class="panel-heading">
                        Incluir Temporada
                    </div>

                    <div class="panel-body">

                        <div class="col-md-2">
                            <h6>Ano</h6>
                            <input ng-model="seasonCtrl.seasonVo.year" type="text" ng-minlength="4" ng-maxlength="4" ng-pattern="/[0-9]/" class="form-control" name="anoTemporada" required>
                        </div>
                        <div class="col-md-10">
                            <h6>Edição</h6>
                            <input ng-model="seasonCtrl.seasonVo.edition" type="text" class="form-control" name="edicaoTemporada" required>
                        </div>
                        <div class="col-md-12">
                            <h6>&nbsp;</h6>
                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-primary" ng-disabled="seasonCtrl.disableSave()" ng-click="seasonCtrl.save(seasonCtrl.seasonVo)">Salvar</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-md-12">
                <season-table></season-table>
            </div>

        </div>
    </div>
</section>