<h3>Usuários</h3>

<div class="table-resonsive">

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th class="col-md-4">Nome</th>
            <th class="col-md-4">Email</th>
            <th class="col-md-1">Administrador</th>
            <th class="col-md-1">Ativo</th>
            <th class="col-md-2"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in table.list">
            <td ng-hide="user.edit">{{user.name}}</td>
            <td ng-hide="user.edit">{{user.email}}</td>
            <td ng-hide="user.edit">
                <switch-button ng-model="user.adminRole"
                               message-true="Retirar Administrador"
                               message-false="Definir Administrador"
                               ng-click="table.setAdmin(user, !user.adminRole)">
                </switch-button>
            </td>
            <td ng-hide="user.edit">
                <switch-button ng-model="user.active"
                               message-true="Desativar"
                               message-false="Ativar"
                               ng-click="table.setActive(user, !user.active)">
                </switch-button>
            </td>

            <td class="ng-hide" ng-show="user.edit" ><input type="text" class="form-control" ng-model="user.name"></td>
            <td class="ng-hide" ng-show="user.edit" ><input type="email" class="form-control" ng-model="user.email"></td>
            <td class="ng-hide" ng-show="user.edit" ></td>
            <td class="ng-hide" ng-show="user.edit" ></td>

            <td>
                <div class="btn-group">

                    <div class="ng-hide" ng-show="user.edit">
                        <button type="submit" class="btn btn-primary" ng-click="table.save(user)">
                            <i class="fa fa-check" aria-hidden="true"></i> Salvar
                        </button>
                        <button class="btn btn-link" ng-click="user = table.turnEdit(user)">
                            Cancelar
                        </button>
                    </div>
                </div>

                <div class="btn-group" ng-hide="user.edit" >
                    <button ng-hide="user.edit" class="btn btn-default btn-sm" ng-click="user = table.turnEdit(user)"
                            data-toggle="tooltip" tooltip data-placement="top" title="Editar">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmaExcluir" ng-click="table.prepareDel(user)"
                            data-toggle="tooltip" tooltip data-placement="top" title="Excluir">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<delete-dialog delete-action="table.delete(table.toDeleteVo)">
    <delete-message>
        <p class="text-big">{{table.toDeleteVo.name}} <br /> {{table.toDeleteVo.email}}</p>
        <p class="text-warning">Esta operação irá deletar todos os dados do Usuário.</p>
    </delete-message>
</delete-dialog>