<section class="season">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Calendário de Provas</h2>
                <h4>Próximas provas</h4>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">

            <div class="row col-lg-12 box-shadow margin-bottom" ng-repeat="stage in calendar.list">

                <div>
                    <div class="col-md-11">
                        <h6>{{stage.season.edition}} - {{stage.season.year}}</h6>
                        <h4>{{stage.location}}</h4>
                    </div>
                    <div class="col-md-1 date-bg">
                        <div data-toggle="tooltip" tooltip data-placement="top" title="Data da etapa">
                            <span class="timeline-balloon-date-day"><format-date format="short" value="{{stage.date}}"></format-date></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <a ng-href="#/calendar/{{stage.idStage}}" class="btn btn-link" data-dismiss="modal"><i class="fa fa-plus fa-fw"></i> Detalhes</a>
                    </div>

                </div>
            </div>


        </div>
    </div>
</section>