<section class="season">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{calendar.stage.location}}</h2>
                <h4>{{calendar.stage.dateFormated}}</h4>
                <h4>{{calendar.stage.season.edition}} - {{calendar.stage.season.year}}</h4>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">

            <div class="row col-lg-12 box-shadow margin-bottom">

                <div>
                    <div class="col-md-11">
                        <h6>{{calendar.stage.season.edition}} - {{calendar.stage.season.year}}</h6>
                        <h4>{{calendar.stage.location}}</h4>
                    </div>
                    <div class="col-md-1 date-bg">
                        <div data-toggle="tooltip" tooltip data-placement="top" title="Data da etapa">
                            <span class="timeline-balloon-date-day">{{calendar.stage.dateFormated}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                </div>

                <div class="col-md-12" ng-bind-html="calendar.stage.description"></div>


                <div class="col-lg-12">

                    <h4>Lista de Inscritos</h4>
                    <hr>

                    <subscriptions-category-table
                        list="calendar.subscriptions"
                    ></subscriptions-category-table>
                </div>

            </div>


            <div class="col-md-12">
                <a ng-href="#/calendar" class="btn btn-link" data-dismiss="modal"><i class="fa fa-chevron-left fa-fw"></i> Voltar</a>
            </div>

        </div>
    </div>
</section>