<h3>Categorias</h3>

<div class="table-resonsive">

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th class="col-md-2">Nome</th>
            <th class="col-md-6">Critério</th>
            <th class="col-md-2">Valor Inscrição</th>
            <th class="col-md-2"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="categoryVo in table.listAll">
            <td ng-hide="categoryVo.edit">{{categoryVo.name}}</td>
            <td ng-hide="categoryVo.edit">{{categoryVo.criteria}}</td>
            <td ng-hide="categoryVo.edit">R$ {{categoryVo.subscription}}</td>

            <td class="ng-hide" ng-show="categoryVo.edit" ><input type="text" class="form-control" ng-model="categoryVo.name"></td>
            <td class="ng-hide" ng-show="categoryVo.edit" ><input type="text" class="form-control" ng-model="categoryVo.criteria"></td>
            <td class="ng-hide" ng-show="categoryVo.edit" ><input type="text" class="form-control" ng-model="categoryVo.subscription"></td>

            <td>
                <div class="btn-group">

                    <div class="ng-hide" ng-show="categoryVo.edit">
                        <button type="submit" class="btn btn-primary" ng-click="table.save(categoryVo)">
                            <i class="fa fa-check" aria-hidden="true"></i> Salvar
                        </button>
                        <button class="btn btn-link" ng-click="categoryVo = table.turnEdit(categoryVo)">
                            Cancelar
                        </button>
                    </div>
                </div>

                <div class="btn-group" ng-hide="categoryVo.edit" >
                    <button ng-hide="categoryVo.edit" class="btn btn-default btn-sm" ng-click="categoryVo = table.turnEdit(categoryVo)"
                            data-toggle="tooltip" tooltip data-placement="top" title="Editar">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmaExcluir" ng-click="table.prepareDel(categoryVo)"
                            data-toggle="tooltip" tooltip data-placement="top" title="Excluir">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<delete-dialog delete-action="table.delete(table.toDeleteVo)">
    <delete-message>
        <p class="text-big">{{table.toDeleteVo.name}} - {{table.toDeleteVo.criteria}}</p>
        <p class="text-warning">Esta operação irá deletar todos os dados da categoria.</p>
    </delete-message>
</delete-dialog>