<div class="col-md-12">
    <h5>Categorias</h5>
</div>
<div class="col-md-12">
    <div class="input-group">
        <category-combo season="season" ng-model="signup.selectedCategory"></category-combo>
        <span class="input-group-btn">
            <button type="button" class="btn btn-secondary" ng-click="signup.add(signup.selectedCategory)">
                <i class="fa fa-plus" />
                Inscrever...</button>
        </span>
    </div>
</div>
<div class="col-md-12" ng-show="ngModel">
    <div class="table-resonsive">
        <h6>Categorias Selecionadas</h6>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="col-md-5">Nome</th>
                <th class="col-md-5">Critério</th>
                <th class="col-md-1">Número</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="category in ngModel">
                <td>{{category.name}}</td>
                <td>{{category.criteria}}</i></td>
                <td><input ng-model="category.number" type="text" class="form-control input-sm" maxlength="3" name="" required></td>
                <td>
                    <button class="btn btn-danger btn-sm" ng-click="signup.remove(category)"
                            data-toggle="tooltip" tooltip data-placement="top" title="Remover">
                        <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>