<section class="season">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Resultados - {{stageResultsCtrl.stage.location}}</h2>
                <h4>{{stageResultsCtrl.stage.dateFormated}}</h4>
                <h4>{{stageResultsCtrl.stage.season.edition}} - {{stageResultsCtrl.stage.season.year}}</h4>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <h6>Categoria</h6>
                <category-combo season="stageResultsCtrl.stage.season.idSeason" ng-model="stageResultsCtrl.selectedCategory"></category-combo>
            </div>

            <div class="col-md-12" ng-hide="stageResultsCtrl.categorySelected">
                <h6>&nbsp;</h6>
                <div class="alert alert-warning">
                    Nenhuma Categoria Selecionada.
                </div>
            </div>

            <div class="col-md-12" ng-hide="stageResultsCtrl.list.length || !stageResultsCtrl.categorySelected">
                <h6>&nbsp;</h6>
                <div class="alert alert-info">
                    Nenhuma Inscrição cadastrada para a Categoria Selecionada.
                </div>
            </div>

            <div class="col-md-12 ng-hide" ng-show="stageResultsCtrl.list.length">
                <h6>&nbsp;</h6>
                <div class="table-resonsive">
                    <h6>Inscritos - {{stageResultsCtrl.category.name}}</h6>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="col-md-4">Atleta</th>
                            <th class="col-md-4">Cidade</th>
                            <th class="col-md-4">Equipe</th>
                            <th class="col-md-1">Número</th>
                            <th class="col-md-1">Classificação</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="vo in stageResultsCtrl.list">
                            <td>{{vo.athlete.name}}</td>
                            <td>{{vo.athlete.city}} / {{vo.athlete.state}}</td>
                            <td>{{vo.team.name}}</i></td>
                            <td>{{vo.number}}</td>
                            <td><input ng-model="vo.position" type="text" class="form-control input-sm" maxlength="3" name="" required></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-12 pull-right">
                <p>&nbsp;</p>
                <hr>
                <div class="pull-right">
                    <a ng-href="#/admin/stage" class="btn btn-link" data-dismiss="modal"> Cancelar</a>
                    <button type="submit" class="btn btn-primary" ng-click="stageResultsCtrl.save(stageResultsCtrl.list);" data-dismiss="modal">Salvar</button>
                </div>
            </div>

        </div>
    </div>
</section>