<section class="season">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Editar Etapa</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <h4>{{stageCtrl.stage.season.edition}} - {{stageCtrl.stage.season.year}}</h4>
                <hr>
            </div>


            <div class="col-md-6">
                <h6>Etapa</h6>
                <input ng-model="stageCtrl.stage.location" type="text" class="form-control" name="local" required>
            </div>
            <div class="col-md-6">
                <h6>Data</h6>
                <input ng-model="stageCtrl.stage.date" type="text" class="form-control datepicker" placeholder="Selecione uma data" required>
            </div>
            <div class="col-md-12">
                <h6>Descrição da Etapa</h6>
                <text-angular ng-model="stageCtrl.stage.description"></text-angular>
            </div>

            <div class="col-md-12 pull-right">
                <p>&nbsp;</p>
                <hr>
                <div class="pull-right">
                    <a ng-href="#/admin/stage" class="btn btn-link" data-dismiss="modal"> Voltar</a>
                    <button type="submit" class="btn btn-primary" ng-click="stageCtrl.save(stageCtrl.stage);">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('.datepicker').pickadate({format: 'dd/mm/yyyy', formatSubmit : 'yyyy-mm-dd'});
</script>