<section class="season">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Administrar Etapas</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="col-md-12">
            <h6>Temporada</h6>
            <season-combo ng-model="seasonCtrl.idSeason"></season-combo>
            <hr>
        </div>

        <div class="row">
            <div class="tab-pane active fade in" id="listaEtapa">
                <stage-table season="seasonCtrl.idSeason"></stage-table>
            </div>
        </div>
    </div>
</section>