<section class="season">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Inscritos - {{stageSubsCtrl.stage.location}}</h2>
                <h4>{{stageSubsCtrl.stage.dateFormated}}</h4>
                <h4>{{stageSubsCtrl.stage.season.edition}} - {{stageSubsCtrl.stage.season.year}}</h4>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <h6>Categoria</h6>
                <category-combo season="stageSubsCtrl.stage.season.idSeason" ng-model="stageSubsCtrl.selectedCategory"></category-combo>
            </div>

            <div class="col-md-12" ng-hide="stageSubsCtrl.categorySelected">
                <h6>&nbsp;</h6>
                <div class="alert alert-warning">
                    Nenhuma Categoria Selecionada.
                </div>
            </div>

            <div class="col-md-12" ng-hide="stageSubsCtrl.list.length || !stageSubsCtrl.categorySelected">
                <h6>&nbsp;</h6>
                <div class="alert alert-info">
                    Nenhuma Inscrição cadastrada para a Categoria Selecionada.
                </div>
            </div>

            <div class="col-md-12 ng-hide" ng-show="stageSubsCtrl.list.length">
                <h6>&nbsp;</h6>
                <div class="table-resonsive">
                    <h6>Inscritos - {{stageSubsCtrl.category.name}}</h6>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="col-md-4">Atleta</th>
                            <th class="col-md-4">Cidade</th>
                            <th class="col-md-4">Equipe</th>
                            <th class="col-md-1">Número</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="vo in stageSubsCtrl.list">
                                <td>{{vo.athlete.name}}</td>
                                <td>{{vo.athlete.city}} / {{vo.athlete.state}}</td>
                                <td>{{vo.team.name}}</i></td>
                                <td>{{vo.number}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-12 pull-right">
                <p>&nbsp;</p>
                <hr>
                <div class="pull-right">
                    <a ng-href="#/admin/stage" class="btn btn-link" data-dismiss="modal"><i class="fa fa-chevron-left fa-fw"></i> Voltar</a>
                </div>
            </div>

        </div>
    </div>
</section>