<h3>Atletas</h3>

<div class="table-resonsive">

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th class="col-md-4">Nome</th>
            <th class="col-md-3">Cidade</th>
            <th class="col-md-2">Estado</th>
            <th class="col-md-2">Equipe</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="athlete in table.list">
            <td ng-hide="athlete.edit">{{athlete.name}}</td>
            <td ng-hide="athlete.edit">{{athlete.city}}</i></td>
            <td ng-hide="athlete.edit">{{athlete.state}}</i></td>
            <td ng-hide="athlete.edit">{{athlete.team.name}}</i></td>

            <td class="ng-hide" ng-show="athlete.edit"><input type="text" class="form-control" ng-model="athlete.name"></td>
            <td class="ng-hide" ng-show="athlete.edit"><input type="text" class="form-control" ng-model="athlete.city"></td>
            <td class="ng-hide" ng-show="athlete.edit"><state-combo ng-model="athlete.state"></state-combo></td>
            <td class="ng-hide" ng-show="athlete.edit"><team-combo ng-model="athlete.team.idTeam"></team-combo></td>

            <td>
                <div class="btn-group">
                    <div class="ng-hide" ng-show="athlete.edit">
                        <button type="submit" class="btn btn-primary btn-sm" ng-click="table.save(athlete)">
                            <i class="fa fa-check" aria-hidden="true"></i> Salvar
                        </button>
                        <button class="btn btn-link btn-sm" ng-click="athlete = table.turnEdit(athlete)">
                            Cancelar
                        </button>
                    </div>
                </div>

                <div class="btn-group" ng-hide="athlete.edit">
                    <button ng-hide="athlete.edit" class="btn btn-default btn-sm" ng-click="athlete = table.turnEdit(athlete)"
                            tooltip data-toggle="tooltip" data-placement="top" title="Editar">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmaExcluir" ng-click="table.prepareDel(athlete)"
                            tooltip data-toggle="tooltip" data-placement="top" title="Excluir">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<delete-dialog delete-action="table.delete(table.toDeleteVo)">
    <delete-message>
        <p>ATLETA: <b>{{table.toDeleteVo.name}}</b> <br> {{table.toDeleteVo.city}} / {{table.toDeleteVo.state}}</p>
        <p class="ng-hide" ng-show="table.toDeleteVo.team.idTeam != 0">EQUIPE: <b>{{table.toDeleteVo.team.name}}</b> - {{table.toDeleteVo.team.city}} / {{table.toDeleteVo.team.state}}</p>
    </delete-message>
</delete-dialog>