<div class="col-md-12">
    <h6>Equipe</h6>
    <div class="input-group">
        <team-combo ng-model="form.athlete.team.idTeam"></team-combo>
        <span class="input-group-btn">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#formEquipe">
            <i class="fa fa-plus" />
            Adicionar Equipe...</button>
         </span>
    </div>
</div>

<div class="col-md-12">
    <h6>Nome do Atleta</h6>
    <input ng-model="form.athlete.name" type="text" class="form-control" name="athleteName" required>
</div>
<div class="col-md-6">
    <h6>Cidade</h6>
    <input ng-model="form.athlete.city" type="text" class="form-control" name="athleteCity" required>
</div>
<div class="col-md-6">
    <h6>Estado</h6>
    <state-combo ng-model="form.athlete.state"></state-combo>
</div>

<div class="col-md-12">
    <h6>&nbsp;</h6>

    <div class="pull-right" ng-show="modal">
        <div class="btn-group">
            <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-disabled="form.disableSave()" ng-click="form.save(form.athlete)">Salvar</button>
        </div>
    </div>

    <div class="btn-group pull-right"  ng-hide="modal">
        <button type="button" class="btn btn-primary" ng-disabled="form.disableSave()" ng-click="form.save(form.athlete)">Salvar</button>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="formEquipe" aria-labelledby="formEquipe">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Incluir Equipe</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <team-form modal="true"></team-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>