<div class="col-md-12" ng-hide="search.selectedAthlete">
    <hr>
    <h6>Buscar Atleta <button type="button" class="btn btn-link btn-xs" data-toggle="modal" data-target="#addAtleta"><i class="fa fa-plus fa-xs"></i> Incluir Atleta</button></h6>

    <div class="input-group">
        <input ng-model="searchValue" type="text" class="form-control" name="" required>
        <span class="input-group-btn">
            <button type="button" class="btn btn-secondary">
                <i class="fa fa-search" /></button>
        </span>
    </div>

    <div class="col-md-12 alert alert-warning" ng-show="!search.list.length && searchValue.length >= 3">
        Nenhum atleta encontrado...
        <button type="submit" class="btn btn-link" data-toggle="modal" data-target="#addAtleta"><i class="fa fa-plus fa-xs"></i> Incluir Atleta</button>
    </div>

    <div class="col-md-12 ng-hide" ng-show="search.list.length">
        <div class="table-resonsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="col-md-4">Nome</th>
                    <th class="col-md-3">Cidade / Estado</th>
                    <th class="col-md-2">Equipe</th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="athlete in search.list">
                    <td>{{athlete.name}}</td>
                    <td>{{athlete.city}} / {{athlete.state}}</td>
                    <td>{{athlete.team.name}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm"
                                tooltip data-toggle="tooltip" data-placement="top" title="Selecionar" ng-click="search.select(athlete);">
                            <i class="fa fa-check fa-fw" /></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div ng-show="search.selectedAthlete">
    <div class="col-md-12">
        <hr>
        <h5>Atleta Selecionado</h5>
    </div>

    <div class="col-md-12">
        <div class="table-resonsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="col-md-4">Nome</th>
                    <th class="col-md-3">Cidade/Estado</th>
                    <th class="col-md-2">Equipe</th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{search.athlete.name}}</td>
                    <td>{{search.athlete.city}} / {{search.athlete.state}}</td>
                    <td>{{search.athlete.team.name}}</td>
                    <td>
                        <button class="btn btn-sm" data-effect="fadeOut" ng-click="search.clearSelection()"
                                tooltip data-toggle="tooltip" data-placement="top" title="Desmarcar Atleta">
                            <i class="fa fa-times fa-fw"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="addAtleta" aria-labelledby="addAtleta">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Incluir Atleta</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <athlete-form modal="true"></athlete-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>