<div class="col-md-12">

    <div class="col-md-12">
        <div class="col-md-12 padding-zero" ng-show="table.seasonSelected" class="ng-hide">
            <div class="btn-group pull-right">

                <a class="btn btn-primary btn-sm" ng-href="#/admin/stage/new/{{table.season}}" style="padding-top: 8px;">
                    <i class="fa fa-plus" aria-hidden="true"></i> Nova Etapa ...
                </a>

            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="alert alert-warning ng-hide" ng-hide="table.seasonSelected">
            Nenhuma Temporada Selecionada.
        </div>
    </div>

    <div class="col-md-12">
        <div class="alert alert-info ng-hide" ng-hide="table.list.length || !table.seasonSelected">
            Nenhuma Etapa cadastrada para a Temporada Selecionada.
        </div>
    </div>

    <div class="col-md-12">
        <div class="table-resonsive ng-hide" ng-show="table.list.length">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="col-md-2">Data</th>
                    <th class="col-md-6">Etapa</th>
                    <th class="col-md-1">Inscritos</th>
                    <th class="col-md-1">Classificação</th>
                    <th class="col-md-2"></th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="stage in table.list">
                    <td><format-date format="short" value="{{stage.date}}"></format-date></td>
                    <td>{{stage.location}} <span class="badge badge-primary">{{stage.subscriptions}} inscritos</span></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm btn-table-label"
                               ng-href="#/admin/stage/subscription/{{stage.season.idSeason}}/{{stage.idStage}}">
                                <i class="fa fa-clipboard fa-fw" aria-hidden="true"></i> Inscritos
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm btn-table-label"
                               ng-href="#/admin/stage/results/{{stage.season.idSeason}}/{{stage.idStage}}">
                                <i class="fa fa-bars fa-fw" aria-hidden="true"></i> Resultados
                            </a>
                        </div>
                    </td>
                    <td>

                        <switch-button ng-model="stage.publish"
                                       message-true="Esconder Etapa"
                                       message-false="Mostrar Etapa"
                                       ng-click="table.setPublish(stage, !stage.publish)">
                        </switch-button>

                        <switch-button ng-model="stage.showResults"
                                       message-true="Esconder Resultados"
                                       message-false="Publicar Resultados"
                                       ng-click="table.setShowResults(stage, !stage.showResults)">
                        </switch-button>

                        <div class="btn-group">

                            <a class="btn btn-default btn-sm" href="#/admin/stage/edit/{{stage.idStage}}"
                                    data-toggle="tooltip" tooltip style="padding-top: 8px"
                                    data-placement="top" title="Editar">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>

                            <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmaExcluir" ng-click="table.prepareDel(stage)"
                                    data-toggle="tooltip" tooltip
                                    data-placement="top" title="Excluir">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<delete-dialog delete-action="table.delete(toDeleteVo)">
    <delete-message>
        <p class="text-big">Etapa : <b>{{toDeleteVo.location}}</b></p>
        <p>Temporada: <b>{{toDeleteVo.season.year}} - {{toDeleteVo.season.edition}}</b></p>
        <hr>
        <p class="text-warning small">Esta operação irá deletar todos os dados da Etapa.</p>
    </delete-message>
</delete-dialog>