<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h6>Temporada: {{form.stage.season.year}} - {{form.stage.season.edition}}</h6>
            <h4>Etapa</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <h6>Local</h6>
                    <input ng-model="form.stage.location" type="text" class="form-control" name="local" required>
                </div>
                <div class="col-md-6">
                    <h6>Data</h6>
                    <input ng-model="form.stage.date" type="text" class="form-control datepicker" placeholder="Selecione uma data" required>
                </div>
                <div class="col-md-12">
                    <h6>Descrição da Etapa</h6>
                    <text-angular ng-model="form.stage.description"></text-angular>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-right">
                <div class="btn-group">
                    <button type="submit" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary" ng-click="form.save(form.stage);" data-dismiss="modal">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>