<div class="modal fade" tabindex="-1" role="dialog" id="confirmaExcluir" aria-labelledby="confirmaExcluir">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Confirma Exclusão?</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        <span class="fa fa-exclamation-triangle fa-5x text-warning"></span>
                    </div>
                    <div class="col-md-10" ng-transclude="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteAction()">Confirmar</button>
            </div>
        </div>
    </div>
</div>