<h3>Equipes</h3>

<div class="table-resonsive">

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th class="col-md-4">Nome da Equipe</th>
            <th class="col-md-4">Cidade</th>
            <th class="col-md-3">Estado</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="team in table.list">
            <td ng-hide="team.edit">{{team.name}}</td>
            <td ng-hide="team.edit">{{team.city}}</i></td>
            <td ng-hide="team.edit">{{team.state}}</i></td>

            <td class="ng-hide" ng-show="team.edit"><input type="text" class="form-control" ng-model="team.name"></td>
            <td class="ng-hide" ng-show="team.edit"><input type="text" class="form-control" ng-model="team.city"></td>
            <td class="ng-hide" ng-show="team.edit"><state-combo ng-model="team.state"></state-combo></td>

            <td>
                <div class="btn-group" ng-hide="team.idTeam == 0">
                    <div class="ng-hide" ng-show="team.edit">
                        <button type="submit" class="btn btn-primary btn-sm" ng-click="table.save(team)">
                            <i class="fa fa-check" aria-hidden="true"></i> Salvar
                        </button>
                        <button class="btn btn-link btn-sm" ng-click="team = table.turnEdit(team)">
                            Cancelar
                        </button>
                    </div>
                </div>

                <div class="btn-group" ng-hide="team.edit || team.idTeam == 0">
                    <button ng-hide="team.edit" class="btn btn-default btn-sm" ng-click="team = table.turnEdit(team)"
                            data-toggle="tooltip" tooltip data-placement="top" title="Editar">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmaExcluir" ng-click="table.prepareDel(team)"
                            data-toggle="tooltip" tooltip data-placement="top" title="Excluir">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<delete-dialog delete-action="table.delete(table.toDeleteVo)">
    <delete-message>
        <p>Equipe: <b>{{table.toDeleteVo.name}}</b> <br> {{table.toDeleteVo.city}} / {{table.toDeleteVo.state}}</p>
    </delete-message>
</delete-dialog>