<section class="season">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 id="top">Blog</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">

            <div class="row col-lg-12 box-shadow margin-bottom" ng-repeat="post in blog.list.content">

                <div>
                    <div class="col-md-11">
                        <h3>{{post.subject}}</h3>
                        <hr>
                    </div>
                    <div class="col-md-1 date-bg">
                        <div data-toggle="tooltip" tooltip data-placement="top" title="Data da postagem">
                            <span class="timeline-balloon-date-day"><format-date format="short" value="{{post.postDate}}"></format-date></span>
                        </div>
                    </div>

                    <div class="col-md-12" ng-bind-html="post.post"></div>

                    <div class="col-md-12">
                        <a ng-href="#/blog/post/{{post.idPost}}" class="btn btn-link plus-link"><i class="fa fa-plus fa-fw"></i> Ver mais</a>
                    </div>

                </div>
            </div>

            <div class="col-lg-12 text-center">
                <blog-pagination list="blog.list"></blog-pagination>
            </div>

        </div>
    </div>
</section>