<section class="season">
    <div class="container">
        <div class="row">
            <div class="row col-lg-12 box-shadow margin-bottom">

                <div>
                    <div class="col-md-11">
                        <h3>{{blog.post.subject}}</h3>
                        <hr>
                    </div>
                    <div class="col-md-1 date-bg">
                        <div data-toggle="tooltip" tooltip data-placement="top" title="Data da postagem">
                            <span class="timeline-balloon-date-day">{{blog.post.postDateFormatted}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" ng-bind-html="blog.post.post"></div>
                <div class="col-md-11">
                    <hr>
                    <p>Autor: {{blog.post.author.name}}</p>
                </div>
            </div>


            <div class="col-md-12">
                <a ng-href="#/blog" class="btn btn-link" data-dismiss="modal"><i class="fa fa-chevron-left fa-fw"></i> Voltar</a>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).scrollTop(0);
</script>