<section class="season">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Administrar Inscrições</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="col-md-6">
                    <h6>Temporada</h6>
                    <season-combo ng-model="subsCtrl.subscription.season.idSeason"></season-combo>
                </div>
                <div class="col-md-6">
                    <h6>Etapa</h6>
                    <stage-combo ng-model="subsCtrl.subscription.stage.idStage" season="subsCtrl.subscription.season.idSeason"></stage-combo>
                </div>

                <div ng-show="subsCtrl.subscription.stage.idStage != null" class="col-md-12">
                    <athlete-search ng-model="subsCtrl.subscription.athlete"></athlete-search>
                </div>

                <div class="col-md-12" ng-show="subsCtrl.subscription.athlete">
                    <category-sign-up ng-model="subsCtrl.subscription.categories"
                                      season="subsCtrl.subscription.season.idSeason"
                                      stage="subsCtrl.subscription.stage.idStage"
                                      athlete="subsCtrl.subscription.athlete"
                    ></category-sign-up>
                </div>

                <div class="col-md-12">
                    <h6>&nbsp;</h6>
                    <hr>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-link" ng-click="subsCtrl.cancel()">Cancelar</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" ng-disabled="subsCtrl.disableSave()" ng-click="subsCtrl.save(subsCtrl.subscription)">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>