<section class="season">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Administrar Atletas</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-custom">
                    <div class="panel-heading">
                        Incluir Atleta
                    </div>

                    <div class="panel-body">
                        <athlete-form></athlete-form>
                    </div>

                </div>
            </div>

            <div class="col-md-12">
                <athlete-table></athlete-table>
            </div>

        </div>
    </div>
</section>