<a class="dropdown-toggle ng-hide" ng-show="adminNavbar.authenticated" data-toggle="dropdown" data-target="#" href="">Admin <i class="fa fa-caret-down"></i></a>
<ul class="dropdown-menu multi-level dropdown-custom">
    <li><a ng-href="#/admin/blog"><i class="fa fa-calendar-o fa-fw"></i> Blog</a></li>
    <li class="divider"></li>
    <li><a ng-href="#/admin/season"><i class="fa fa-calendar fa-fw"></i> Temporadas</a></li>
    <li><a ng-href="#/admin/category"><i class="fa fa-bookmark fa-fw"></i> Categorias</a></li>
    <li><a ng-href="#/admin/stage"><i class="fa fa-calendar-o fa-fw"></i> Etapas</a></li>
    <li class="divider"></li>
    <li><a ng-href="#/admin/athlete"><i class="fa fa-user fa-fw"></i> Atletas</a></li>
    <li><a ng-href="#/admin/team"><i class="fa fa-users fa-fw"></i> Equipes</a></li>
    <li class="divider"></li>
    <li><a ng-href="#/admin/subscription"><i class="fa fa-user-plus fa-fw"></i> Inscrições</a></li>
    <li class="divider"></li>
    <li><a ng-href="#/admin/profile"><i class="fa fa-user-circle fa-fw"></i> Perfil</a></li>
    <li><a ng-href="#/admin/users"><i class="fa fa-users fa-fw"></i> Usuários</a></li>
    <li><a ng-href="#/logout"><i class="fa fa-sign-out fa-fw"></i> Sair</a></li>
</ul>