<section class="season">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Administrar Blog</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <post-table></post-table>
        </div>
    </div>
</section>