<section class="season">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Postagem</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h6>Título</h6>
                <input ng-model="blog.post.subject " type="text" class="form-control" name="local" required>
            </div>
            <div class="col-md-12">
                <h6>Postagem</h6>
                <text-angular ng-model="blog.post.post"></text-angular>
            </div>

            <div class="col-md-12 pull-right">
                <p>&nbsp;</p>
                <hr>
                <div class="pull-right">
                    <a ng-href="#/admin/blog" class="btn btn-link" data-dismiss="modal"> Voltar</a>
                    <button type="submit" class="btn btn-primary" ng-click="blog.save(blog.post);">Salvar</button>
                </div>
            </div>
        </div>


    </div>
</section>