<!-- Portfolio Grid Section -->
<section class="season">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Administrar Usuários</h2>
                <hr class="star-primary">
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-custom">
                        <div class="panel-heading">
                            Dados do Usuário
                        </div>

                        <div class="panel-body">
                            <div class="col-md-12">
                                <h6>Nome</h6>
                                <input ng-model="usersCtrl.user.name" type="text" class="form-control" name="nome" required>
                            </div>
                            <div class="col-md-12">
                                <h6>E-mail</h6>
                                <input ng-model="usersCtrl.user.email" type="email" data-fv-emailaddress-message="Não é um email válido" class="form-control" name="email" required>
                            </div>
                            <div class="col-md-6">
                                <h6>Senha</h6>
                                <input ng-model="usersCtrl.user.tmpPass" type="password" class="form-control" name="senha" required>
                            </div>
                            <div class="col-md-6">
                                <h6>Confirmar Senha</h6>
                                <input ng-model="usersCtrl.user.tmpPass2" type="password" class="form-control" name="confirmSenha" required>
                            </div>

                            <div class="col-md-12">
                                <h6>&nbsp;</h6>
                                <div class="btn-group pull-right">
                                    <button type="button"  ng-disabled="usersCtrl.disableSave()" ng-click="usersCtrl.save(usersCtrl.user)" class="btn btn-primary">Salvar</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-md-12">
                    <users-table></users-table>
                </div>

            </div>
        </div>
    </div>

</section>