<section class="season">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Administrar Categorias</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-custom">
                    <div class="panel-heading">
                        Incluir Categoria
                    </div>

                    <div class="panel-body">
                        <div class="col-md-4">
                            <h6>Nome</h6>
                            <input ng-model="categoryCtrl.categoryVo.name" type="text" class="form-control" name="nomeCategoria" required>
                        </div>
                        <div class="col-md-4">
                            <h6>Critério</h6>
                            <input ng-model="categoryCtrl.categoryVo.criteria" type="text" class="form-control" name="criterioCategoria" required>
                        </div>
                        <div class="col-md-4">
                            <h6>Valor Inscrição</h6>
                            <input ng-model="categoryCtrl.categoryVo.subscription" type="number" class="form-control" name="valorInscricao" required>
                        </div>
                        <div class="col-md-12">
                            <h6>&nbsp;</h6>
                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-primary" ng-disabled="categoryCtrl.disableSave()" ng-click="categoryCtrl.save(categoryCtrl.categoryVo)">Salvar</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-12">
                <category-table />
            </div>

        </div>
    </div>
</section>