.alert{
    position: absolute;
    padding-right: 55px;
    width: 300px;
    margin-top: 60px;
    border-radius: 15px;
    background-color: #FFF;
    color: #283896;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    /*display: none;*/
}
/*alert-success*/
.alert-success button{
    background-color: #0dcf5e;
    color:#FFF;
}

.alert-success hr{
    border-color: #008ECF;
}
/**/
/*alert-warning*/
.alert-warning button{
    background-color: #E5A218;
    color:#FFF;
}

/**/
/*alert-error*/
.alert-error button{
    background-color: #FF0000;
    color:#FFF;
}
/**/

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl-alert  {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    cursor:default;
    transition: background-color 1s, color 1s;
}

.btn-float-alert{
    position: absolute;
    right:-20px;
    top:-20px;
}