<section class="season">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{results.season.edition}} - {{results.season.year}}</h2>
                <h4>Resultados</h4>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">

            <ul class="nav nav-tabs">
                <li class="active"><a data-target="#global" href="" data-toggle="tab">Classificação Geral</a>
                </li>
                <li><a data-target="#bySeason" href="" data-toggle="tab">Classificação por etapa</a>
                </li>
                <li><a data-target="#byTeam" href="" data-toggle="tab">Classificação por Equipes</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active fade in" id="global">
                    <h3>Classificação Geral</h3>
                    <hr>
                    <results-category-table list="results.allCategories"></results-category-table>
                </div>

                <div class="tab-pane fade in" id="bySeason">
                    <h3>Classificação por Etapa</h3>
                    <stage-combo season="results.season.idSeason" ng-model="results.selectedStage"></stage-combo>
                    <hr>
                    <results-category-table list="results.byStage"></results-category-table>
                </div>

                <div class="tab-pane fade in" id="byTeam">
                    <h3>Classificação por Equipes</h3>
                    <hr>

                    <div class="table-resonsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="col-md-1">#</th>
                                <th class="col-md-6">Equipe</th>
                                <th class="col-md-4">Cidade</th>
                                <th class="col-md-1">Pontos</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in results.teamResults" ng-hide="item.team.idTeam == 0">
                                <td>{{$index + 1}}</td>
                                <td>{{item.team.name}}</td>
                                <td>{{item.team.city}}/{{item.team.state}}</td>
                                <td>{{item.score}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>