<h3>Publicações no Blog</h3>

<div class="col-md-12 padding-zero">
    <div class="btn-group pull-right">
        <a class="btn btn-primary btn-sm" ng-href="#/admin/blog/post">
            <i class="fa fa-plus" aria-hidden="true"></i> Nova Postagem ...
        </a>
    </div>
</div>

<div class="table-resonsive">

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th class="col-md-8">Título</th>
            <th class="col-md-2">Data</th>
            <th class="col-md-2"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="post in table.list">
            <td>{{post.subject}}</td>
            <td><format-date format="short" value="{{post.postDate}}"></format-date></i></td>

            <td>
                <switch-button ng-model="post.publish"
                               message-true="Esconder Postagem"
                               message-false="Mostrar Postagem"
                               ng-click="table.setPublish(post, !post.publish)">
                </switch-button>

                <div class="btn-group" ng-hide="post.edit || post.team.idTeam == 0">
                    <a ng-href="#/admin/blog/post/{{post.idPost}}" class="btn btn-default btn-sm"
                       style="padding-top: 8px;"
                       tooltip data-toggle="tooltip" data-placement="top" title="Editar">
                       <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmaExcluir" ng-click="table.prepareDel(post)"
                            tooltip data-toggle="tooltip" data-placement="top" title="Excluir">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<delete-dialog delete-action="table.delete(table.toDeleteVo)">
    <delete-message>
        <p> {{table.toDeleteVo.subject}}</p>
    </delete-message>
</delete-dialog>