<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/logo-cuc.png" alt="">
                <div class="intro-text">
                    <span class="name">Copa União de Ciclismo</span>
                    <hr class="star-light">
                    <span class="skills">Competição de Ciclismo de Estrada e MTB</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" >
                <etapa-timeline 
                    paginate="true"
                    page-size="2"
                    current-page="0">
                </etapa-timeline>
            </div>

        </div>
    </div>
</section>