<check-user></check-user>
<section class="season">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Administrar Equipes</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-custom">
                    <div class="panel-heading">
                        Incluir Equipe
                    </div>

                    <div class="panel-body">
                        <team-form></team-form>
                    </div>

                </div>
            </div>

            <div class="col-md-12">
                <team-table></team-table>
            </div>

        </div>
    </div>
</section>