<section class="season">
    <div class="container">
        <div class="row ng-hide" ng-hide="loginCtrl.isUserAuthenticated()">
            <div class="col-lg-12 text-center">
                <h2>Login</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row ng-hide"  ng-hide="loginCtrl.isUserAuthenticated()">
            <div class="card card-container">
                <div class="alert alert-danger" role="alert" ng-show="loginCtrl.loginError">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                    Usuário ou Senha Inválidos
                </div>
                <form class="form-signin" id="formLogin" method="post">
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="email"    ng-model="loginCtrl.user.email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                    <input type="password" ng-model="loginCtrl.user.password" id="inputPassword" class="form-control" placeholder="Senha" required>

                    <button class="btn btn-primary" type="submit" ng-click="loginCtrl.login(loginCtrl.user);">Login</button>
                </form><!-- /form -->
            </div><!-- /card-container -->
        </div>
        <div class="row ng-hide" ng-show="loginCtrl.isUserAuthenticated()">
            <div class="col-md-12 row">
                <div class="card card-container">
                    <p>Tem certeza que deseja Sair?</p>
                    <div class="form-signin">
                        <div class="col-md-6">
                            <button class="btn btn-primary" type="button" ng-click="loginCtrl.cancel();">Não</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary" type="button" ng-click="loginCtrl.logout();">Sim</button>
                        </div>
                    </div><!-- /form -->
                    <br>
                </div>
            </div><!-- /card-container -->
        </div>
    </div>
</section>