<h3>Temporadas</h3>

<div class="table-resonsive">

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th class="col-md-4">Ano</th>
            <th class="col-md-5">Edição</th>
            <td class="col-md-1"></td>
            <th class="col-md-2"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="seasonVo in table.seasonAllList">
            <td ng-hide="seasonVo.edit">{{seasonVo.year}}</td>
            <td ng-hide="seasonVo.edit">{{seasonVo.edition}}</i></td>

            <td class="ng-hide" ng-show="seasonVo.edit" ><input type="text" class="form-control" ng-model="seasonVo.year"></td>
            <td class="ng-hide" ng-show="seasonVo.edit" ><input type="text" class="form-control" ng-model="seasonVo.edition"></td>

            <td>
                <div class="btn-group">
                    <button ng-hide="seasonVo.edit" class="btn btn-default btn-sm" data-toggle="modal" data-target="#selectCategories" ng-click="table.popUp(seasonVo)">
                        <i class="fa fa-bars" aria-hidden="true"></i> Categorias
                    </button>
                </div>
            </td>

            <td>
                <div class="btn-group">
                    <div class="ng-hide" ng-show="seasonVo.edit">
                        <button type="submit" class="btn btn-primary" ng-click="table.save(seasonVo)">
                            <i class="fa fa-check" aria-hidden="true"></i> Salvar
                        </button>
                        <button class="btn btn-link" ng-click="seasonVo = table.turnEdit(seasonVo)">
                            Cancelar
                        </button>
                    </div>
                </div>

                <switch-button ng-hide="seasonVo.edit"
                               ng-model="seasonVo.active"
                               message-true="Esconder Temporada"
                               message-false="Publicar Temporada"
                               ng-click="table.setPublish(seasonVo, !seasonVo.active)">
                </switch-button>

                <div class="btn-group" ng-hide="seasonVo.edit" >

                    <button ng-hide="seasonVo.edit" class="btn btn-default btn-sm" ng-click="seasonVo = table.turnEdit(seasonVo)"
                            data-toggle="tooltip" tooltip
                            data-placement="top" title="Editar">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>

                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmaExcluir" ng-click="table.prepareDel(seasonVo)"
                            data-toggle="tooltip" tooltip
                            data-placement="top" title="Excluir">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="selectCategories" aria-labelledby="selectCategories">
    <select-category season="table.popUpVo"></select-category>
</div>

<delete-dialog delete-action="table.delete(table.toDeleteVo)">
    <delete-message>
        <p class="text-big">{{table.toDeleteVo.year}} - {{table.toDeleteVo.edition}}</p>
        <p class="text-warning">Esta operação irá deletar todos os dados da temporada.</p>
    </delete-message>
</delete-dialog>