<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4>{{season.year}} - {{season.edition}}</h4>
            <h6>Selecionar Categorias</h6>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-md-4" ng-repeat="vo in ctrl.list">
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="ctrl.selectedCategories[vo.idCategory]" aria-label="..."><b>{{vo.name}}</b></label>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ctrl.save()">Salvar</button>
        </div>
    </div>
</div>